.existing-videos{
    max-width: 1024px;
    margin: 0 auto;
}

.existing-videos h2{
    text-align: center;
}

#showMoviesVideos {
    display: flex;
    margin-bottom: 30px;
    gap: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}
.loading, noContent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
}

.card-video:hover{
    scale: 1.1;
    animation-name: cardBorderLine;
    animation-duration: 1s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-delay: 0ms;
}

.card-video.selected {
    border: 2px solid blue;
  }


  
@keyframes cardBorderLine {
    0% {
      border-top: blue 2px solid;
    }
    10% {
      border-right: blue 2px solid;
    }
    20% {
      border-bottom: blue 2px solid;
    }
    20% {
      border-left: blue 3px solid;
    }
  }